{% extends "base.html" %}

{% block title %}Create Product{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Create Product</h1>
        <form method="POST" action="/api/product" class="mt-3" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" class="form-control" required><br>
            </div>
            <div class="form-group">
                <label for="cabinet">Cabinet:</label>
                <select id="cabinet" name="cabinet">
                {% for cabinet in cabinets %}
                    <option value="{{ cabinet[0] }}">{{ cabinet[1] }}</option>
                {% endfor %}
                </select>
                <br><br>
            </div>
            <div class="form-group">
                <label for="shelf">Shelf:</label>
                <select id="shelf" name="shelf"></select>
                <br><br>
            </div>
            <button type="submit" class="btn btn-success">Create</button>
            <a class="btn btn-primary ml-2" href="/ws">Back to Product List</a>
        </form>
        <script>
            function fetchShelves() {
                var cabinetId = document.getElementById("cabinet").value;
                fetch('/ws/shelves/' + cabinetId)
                .then(response => response.json())
                .then(data => {
                    var shelfSelect = document.getElementById("shelf");
                    shelfSelect.innerHTML = '';
                    data.forEach(shelf => {
                        var option = document.createElement("option");
                        option.text = shelf[1]+"-"+shelf[2];
                        option.value = shelf[0];
                        shelfSelect.add(option);
                    });
                });
            }
            document.getElementById("cabinet").addEventListener("change", fetchShelves);
            fetchShelves();
        </script>
    </div>
{% endblock %}
