{% extends "base.html" %}

{% block title %}Product Details{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Product Details</h1>
        <div class="card mt-3">
            <div class="card-body">
                <p><strong>ID:</strong> {{ product.id }}</p>
                <p><strong>Name:</strong> {{ product.name }}</p>
                <p><strong>Cabinet:</strong> {{ product.cabinet }}</p>
                <p><strong>Shelf:</strong> {{ product.shelf }}</p>
                <a class="btn btn-primary" href="/">Back to Product List</a>
            </div>
        </div>
    </div>
{% endblock %}