<!DOCTYPE html>
<html lang="pt">
<head>
    <title>{% block title %}Inventário{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body class="container">
    {% block content %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log("Materialize inicializado!");
            M.updateTextFields(); // Atualiza os campos de texto para garantir que os labels funcionem
        });
    </script>
</body>
</html>