{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <h3 class="center-align">Cadastro</h3>
            <form method="POST" class="card-panel">
                <!-- Campo Usuário -->
                <div class="input-field">
                    <input type="text" id="username" name="username" class="validate" required>
                    <label for="username">Usuário</label>
                </div>

                <!-- Campo Senha -->
                <div class="input-field">
                    <input type="password" id="password" name="password" class="validate" required>
                    <label for="password">Senha</label>
                </div>

                <!-- Botão de Registrar -->
                <button type="submit" class="btn green">Registrar</button>
            </form>

            <!-- Link para Login -->
            <p class="center-align">Já tem uma conta? <a href="{{ url_for('login') }}">Faça login</a></p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Atualiza os campos de texto para garantir que os labels funcionem
            M.updateTextFields();
        });
    </script>
{% endblock %}